.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    width: 270px;
    position: relative;
    transition: transform 500ms;
}

.categories:hover{
    transform: scale(1.1);
}

.categories h2{
    margin-bottom: 9px;
}

.categories img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}